{
  "plugins": ["prettier"],
  "extends": ["next/core-web-vitals", "next/typescript", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react-hooks/rules-of-hooks": "warn",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
